{
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"svelteBracketNewLine": false,
	"svelteIndentScriptAndStyle": true,
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteStrictMode": false
}