@import './font.scss';

@import 'bulma/sass/utilities/initial-variables.sass';

// 👇 Put variable declarations here 👇

@import 'bulma/bulma.sass';
@import 'bulma-list/sass/bulma-list.sass';
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
	height: 100vh;
}

// 🍝 Allows to scroll lists without overflowing
.max-overflow {
	max-height: 100%;
	overflow: auto;
}
